

body{
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	margin: 0;
	padding: 0;
}

.file-list.ui.items > .item{
	height: 75px;
	width: 100px;
	min-height: 0;
	min-width: 0;
	text-align: center;
	padding: 10px;
	margin: 5px;
}

.file-list.ui.items > .item .title{
	overflow: hidden;
	width: 100%;
	text-overflow: ellipsis;
	display: block;
	word-wrap: break-word;
	font-size: 0.8rem;
}

#player-menu{
	/*position: fixed;*/
}
 
.animate-repeat.ng-enter,
.animate-repeat.ng-leave,
.animate-repeat.ng-move {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
}
 
.animate-repeat.ng-enter {
  line-height:0;
  opacity:0;
  padding-top:0;
  padding-bottom:0;
}
.animate-repeat.ng-enter.ng-enter-active {
  line-height:20px;
  opacity:1;
  padding:10px;
}
 
.animate-repeat.ng-leave {
  opacity:1;
  line-height:20px;
  padding:10px;
}
.animate-repeat.ng-leave.ng-leave-active {
  opacity:0;
  line-height:0;
  padding-top:0;
  padding-bottom:0;
}
 
.animate-repeat.ng-move { }
.animate-repeat.ng-move.ng-move-active { }