<div>

	<div id="player-menu" class="ui menu" ng-controller="PlayerController">
		<div class="item" style="width: 50%;">
			<div class="ui teal progress">
				<div class="bar" style="width: {{playPercent"></div>
			</div>
		</div>
		<div class="menu right">

			<div class="item">
				<input type="range" min="0" max="100" ng-model="volume" />
			</div>
			<div class="item">
				<div class="ui buttons">
					<div ng-click="togglePlay()" class="ui circular icon button">
						<i class="icon" ng-class="state"></i>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="ui page grid">

		<div class="four wide column" ng-controller="ProfileController">


			<div class="ui vertical menu">
				<a class="item"><b>{{email}}</b></a>
				<div class="item">
					<a><b>Your Profile</b></a>
					<div class="menu">
						<a class="item">Inbox</a> <a class="item">Activity</a> <a
							class="item">Groups</a>
					</div>
				</div>
			</div>

		</div>

		<div class="twelve wide column">
			<!-- Files -->
			<div id="files-div" class="ui segment"
				ng-controller="FilesController as ctrl">

				<div class="ui dimmer" ng-class="ctrl.loading">
					<div class="ui text loader">Loading</div>
				</div>

				<div class="ui right floated header">

					<button class="ui button" ng-click="ctrl.refresh()">Refresh</button>

					<button class="ui right teal labeled icon button"
						ng-click="ctrl.addFile()">
						<i class="right plus icon"></i> Add file
					</button>
					<input type="file" id="input-file"
						style="position: absolute; top: -1000px;" />
					<div class="ui input">
						<input type="text" ng-model="search" placeholder="Search..." />
					</div>

				</div>

				<div class="ui breadcrumb left floated top">
					<a ng-repeat="folder in ctrl.folderStack"
						ng-click="ctrl.openFolder(folder.id, folder.name, $index)"
						class="section">{{folder.name}}
						<div class="divider">/</div>
					</a>
				</div>

				<table class="ui table attached segment">
					<thead>
						<tr>
							<th>Name</th>
							<th>Status</th>
							<th>Notes</th>
						</tr>
					</thead>
					<tbody>

						<tr ng-show="ctrl.items.length == 0">
							<td colspan="3">No matching file</td>
						</tr>
						<tr class="animate-repeat"
							ng-repeat="item in ctrl.items | searchTitle:search | orderFiles">
							<td style="width: 1%;"><img ng-src="{{item.iconLink}}" /></td>
							<td>

								<button ng-hide="ctrl.isFolder(item)" class="ui mini button"
									ng-click="ctrl.play(item.title, item.webContentLink)">{{item.title}}</button>

								<button ng-show="ctrl.isFolder(item)" class="ui mini button"
									ng-click="ctrl.openFolder(item.id, item.title)">{{item.title}}</button>
							</td>

							<td>{{item.lastModifyingUserName}}</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>

	</div>

</div>