<div>

   <div id="player-menu" class="ui menu" ng-controller="PlayerController">
      <div class="item" style="width: 50%;">
         <div class="ui teal progress">
            <div class="bar" style="width: {{playPercent}}%;"></div>
         </div>
      </div>
      <div class="menu right">

         <div class="item">
            <input type="range" min="0" max="100" ng-model="volume" />
         </div>
         <div class="item">
            <div class="ui buttons">
               <div ng-click="togglePlay()" class="ui circular icon button">
                  <i class="icon" ng-class="state"></i>
               </div>
            </div>
         </div>
      </div>

   </div>

   <div class="ui relaxed grid basic segment">

      <div class="four wide column" ng-controller="ProfileController">


         <div class="ui fluid vertical menu">
            <a class="item"><b>{{email}}</b></a>

            
            <div class="header item">Favourites <i class="heart icon"></i></div>
            <div class="header item">
               <div class="ui icon input fluid">
                  <input type="text" ng-model="newFavourite" placeholder="New fav">
                  <div class="ui icon button" ng-click="addFavourite(newFavourite)">
                     <i class="plus icon"></i>
                  </div>
               </div>
            </div>
            <div class="item">
               
               <div class="menu" ng-repeat="fav in favourites track by fav.___id">

                  <div data-drop="true" ng-model="fav.items" class="item"
                     jqyoui-droppable="{multiple:true, onDrop: 'onAddFavItem', helper : 'clone'}">

                     <i ng-click="removeFavourite(fav)" class="remove circle icon"></i> {{fav.name}}

                     <div class="menu">
                        <a class="item" ng-repeat="item in fav.items track by item.id ">

                           <i class="icon"><img ng-src="{{item.iconLink}}" /></i> {{item.title}}

                        </a>
                     </div>

                  </div>


               </div>
            </div>
         </div>

      </div>

      <div class="twelve wide column">
         <!-- Files -->
         <div id="files-div" class="ui basic segment" ng-controller="FilesController as ctrl">

            <div class="ui dimmer" ng-class="ctrl.loading">
               <div class="ui text loader">Loading</div>
            </div>

            <div class="ui right floated header">

               <button class="ui button" ng-click="ctrl.refresh()">Refresh</button>

               <button class="ui right teal labeled icon button" ng-click="ctrl.addFile()">
                  <i class="right plus icon"></i> Add file
               </button>
               <input type="file" id="input-file" style="position: absolute; top: -1000px;" />
               <div class="ui input">
                  <input type="text" ng-model="search" placeholder="Search..." />
               </div>

            </div>

            <div class="ui breadcrumb left floated top">
               <a ng-repeat="folder in ctrl.folderStack" ng-click="ctrl.openFolder(folder.id, folder.name, $index)" class="section">{{folder.name}}
                  <div class="divider">/</div>
               </a>
            </div>

            <div class="ui horizontal divider"></div>

            <div class="file-list ui items">

               <div class="item teal" data-drag="true"
                  data-jqyoui-options="{revert : 'invalid', helper: 'clone'}"
                  ng-model="ctrl.cloneItems"
                  jqyoui-draggable="{index: {{$index}},animate:true}"
                  ng-click="ctrl.isFolder(item) ? ctrl.openFolder(item.id, item.title) : ctrl.play(item.title, item.webContentLink)"
                  ng-repeat="item in ctrl.items | searchTitle:search | orderFiles track by item.id ">

                  <img ng-src="{{item.iconLink}}" /> <span class="title">{{item.title}}</span>
               </div>
            </div>
         </div>

      </div>

   </div>

</div>